name: Release
on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'tag of the draft release'
        required: true
        type: string
env:
  workload_identity_provider: 'projects/985030810135/locations/global/workloadIdentityPools/github/providers/github'
  service_account: 'githubaction@mirrosa.iam.gserviceaccount.com'
  key: 'gcpkms://projects/mirrosa/locations/us/keyRings/signing/cryptoKeys/mirrosa'
jobs:
  fetch_public_key:
    permissions:
      contents: 'read'
      id-token: 'write'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4

      - name: 'Install Cosign'
        uses: sigstore/cosign-installer@59acb6260d9c0ba8f4a2f9d9b48431a222b68e20 # v3.5.0

      - name: 'Authenticate to GCP'
        uses: google-github-actions/auth@55bd3a7c6e2ae7cf1877fd1ccb9d54c0503c457c # v2.1.2
        with:
          workload_identity_provider: ${{ env.workload_identity_provider }}
          service_account: ${{ env.service_account }}

      - name: 'Sign'
        run: cosign public-key --key $key --outfile signing.pub

      - uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4.3.3
        with:
          name: 'signing.pub'
          path: 'signing.pub'
          retention-days: 1

  build_and_sign:
    needs: 'fetch_public_key'
    permissions:
      contents: 'read'
      id-token: 'write'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goarch:
          - 'amd64'
          - 'arm64'
        goos:
          - 'darwin'
          - 'linux'
    steps:
      - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4

      - name: 'Set up Go'
        uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
        with:
          go-version: '1.22'
          check-latest: true
          cache: true

      - name: 'Build'
        run: |
          GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} CGO_ENABLED=0 go build -trimpath -ldflags "-s -w" -o mirrosa_${{ matrix.goos }}_${{ matrix.goarch }} .

      - uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4.3.3
        with:
          name: mirrosa_${{ matrix.goos }}_${{ matrix.goarch }}
          path: mirrosa_${{ matrix.goos }}_${{ matrix.goarch }}
          retention-days: 1

      - name: 'Install Cosign'
        uses: sigstore/cosign-installer@59acb6260d9c0ba8f4a2f9d9b48431a222b68e20 # v3.5.0

      - name: 'Authenticate to GCP'
        uses: google-github-actions/auth@55bd3a7c6e2ae7cf1877fd1ccb9d54c0503c457c # v2.1.2
        with:
          workload_identity_provider: ${{ env.workload_identity_provider }}
          service_account: ${{ env.service_account }}

      - uses: actions/download-artifact@65a9edc5881444af0b9093a5e628f2fe47ea3b2e # v4.1.7
        with:
          name: 'signing.pub'

      - name: 'Sign'
        run: |
          cosign sign-blob --yes --key $key mirrosa_${{ matrix.goos }}_${{ matrix.goarch }} --output-signature mirrosa_${{ matrix.goos }}_${{ matrix.goarch }}.sig
          cosign verify-blob --key signing.pub --signature mirrosa_${{ matrix.goos }}_${{ matrix.goarch }}.sig mirrosa_${{ matrix.goos }}_${{ matrix.goarch }}

      - uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4.3.3
        with:
          name: mirrosa_${{ matrix.goos }}_${{ matrix.goarch }}.sig
          path: mirrosa_${{ matrix.goos }}_${{ matrix.goarch }}.sig
          retention-days: 1

  release:
    needs:
      - 'fetch_public_key'
      - 'build_and_sign'
    permissions:
      contents: 'write'
    runs-on: ubuntu-latest
    steps:
      # If the name input parameter is not provided, all artifacts will be downloaded.
      # To differentiate between downloaded artifacts, a directory denoted by the artifacts name will be created for each individual artifact.
      # i.e. signing.pub will be in release_artifacts/signing.pub/signing.pub
      - uses: actions/download-artifact@65a9edc5881444af0b9093a5e628f2fe47ea3b2e # v4.1.7
        with:
          path: 'release_artifacts'

      - name: 'Release'
        uses: "softprops/action-gh-release@9d7c94cfd0a1f3ed45544c887983e9fa900f0564" # v2.0.4
        with:
          name: "${{ inputs.tag }}"
          draft: true
          generate_release_notes: true
          token: "${{ github.token }}"
          files: |
            release_artifacts/*/*
