name: CI
on:
  pull_request:
    branches:
      - 'main'
  push:
    branches:
      - 'main'
    paths:
      - '**.go'
      - 'go.mod'
      - 'go.sum'
jobs:
  test:
    permissions:
      contents: 'read'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          fetch-depth: 1

      - name: 'Set up Go'
        uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5.0.2
        with:
          go-version: '1.23'
          check-latest: true
          cache: true

      - name: 'Test'
        run: go test -cover ./...
